@import '../../styles/utilities/variables';

.efl-social-menu {
	display: flex;
	list-style: none;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	li {
		font-size: 26px;
		margin: 8px 2px;
		@media screen and (min-width: $breakpoint-tablet) {
			font-size: 32px;
		}
		a {
			display: flex;
			width: 100%;
		}
	}
}
