@import '../../styles/utilities/variables';

.efl-fp-hero {
	width: 100%;
	padding: 50px $gutter-small * 2;
	background-color: $bg-blue-dark;
	background-image: linear-gradient(90deg, $bg-blue-light, $bg-blue-dark);
	color: #fff;
	position: relative;

	// Background SVG
	& &__background-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 20px;
		@media screen and (min-width: $breakpoint-tablet) {
			padding: 0 40px;
		}
	}
	& &__background-svg-canvas {
		position: relative;
		height: 100%;
		width: 100%;
		// max-width so that view remains same after 1440px
		max-width: 1360px;
		.efl-fp-hero__svg-one,
		.efl-fp-hero__svg-two,
		.efl-fp-hero__svg-three {
			position: absolute;
		}
		.efl-fp-hero__svg-one {
			width: 1357px;
			height: 258px;
		}
		.efl-fp-hero__svg-two {
			width: 1476px;
			height: 221px;
		}
		.efl-fp-hero__svg-three {
			width: 388px;
			height: 239px;
		}

		.efl-fp-hero__svg-one,
		.efl-fp-hero__svg-two {
			display: none;
		}
		.efl-fp-hero__svg-three {
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		@media screen and (min-width: $breakpoint-mobile) {
			.efl-fp-hero__svg-three {
				right: auto;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		@media screen and (min-width: $breakpoint-tablet) {
			.efl-fp-hero__svg-one {
				display: block;
				left: 0;
				top: 50px;
			}
			.efl-fp-hero__svg-three {
				left: auto;
				right: 40px;
				top: auto;
				bottom: 40px;
				transform: none;
			}
		}
		@media screen and (min-width: $breakpoint-desktop) {
			.efl-fp-hero__svg-two {
				display: block;
				right: 0;
				top: 10%;
				// top: 40px;
			}
			.efl-fp-hero__svg-one {
				left: 40px;
				top: auto;
				bottom: 20%;
				// bottom: 140px;
			}
			.efl-fp-hero__svg-three {
				right: 150px;
				bottom: 10%;
				// bottom: 40px;
			}
		}
	}

	// Title
	& &__title {
		font-size: 42px;
		font-weight: 900;
		text-align: center;
		max-width: 440px;
		margin: 0 auto 50px;
		line-height: 1.1;
		letter-spacing: 1px;
	}

	// Subtitle
	& &__subtitle {
		font-size: 24px;
		font-weight: 200;
		max-width: 340px;
		margin: 0 auto 50px;
		text-align: center;
	}

	// CTAs
	& &__ctas {
		max-width: 300px;
		margin: 0 auto 12px;
	}

	// Video button
	& &__video-anchor {
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		transition: all 200ms ease-out;
		&:hover {
			color: $primary-color;
			transform: scale(1.2);
		}
	}

	// Video Screen
	& &__video-screen {
		position: absolute;
		top: 64px;
		bottom: 64px;
		left: 64px;
		right: 64px;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: opacity 200ms ease-in;
	}
	&.efl-fp-hero--video-active {
		.efl-fp-hero__video-screen {
			visibility: visible;
			opacity: 1;
		}
	}
	// Video screen close
	& &__video-close {
		font-size: 3em;
		color: #fff;
		position: absolute;
		right: -62px;
		top: -62px;
		&:hover {
			color: $primary-color;
		}
		z-index: 1;
	}

	// Frame
	& &__video-frame {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	// Embed
	& &__embed-container {
		position: relative;
		height: 100%;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		overflow: hidden;
		background: #000;
		border-radius: 16px;
		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@media screen and (min-width: $breakpoint-tablet) {
		padding: 80px $gutter-large * 2;

		& &__title {
			font-size: 68px;
			max-width: 600px;
		}

		& &__subtitle {
			margin-bottom: 50px;
			max-width: 460px;
			font-size: 28px;
		}

		& &__cta {
			flex-basis: 180px;
			width: 180px;
		}

		& &__ctas {
			max-width: none;
			margin-bottom: 50px - 12px;
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		padding: 100px $gutter-large * 2;
		min-height: calc(100vh - 150px);
		display: flex;
		align-items: center;
		justify-content: center;

		& &__title {
			font-size: 100px;
			margin-bottom: 70px;
			max-width: 900px;
		}

		& &__subtitle {
			font-size: 32px;
			max-width: 740px;
			margin-bottom: 70px;
		}

		& &__cta {
			flex-basis: 220px;
			width: 220px;
			height: 52px;
		}
	}

	@media screen and (min-width: $breakpoint-hd) {
		min-height: calc(100vh - 180px);
		& &__title {
			// font-size: 100px;
		}
		& &__subtitle {
			// font-size: 36px;
		}
	}
}

.admin-bar .efl-fp-hero {
	@media screen and (min-width: $breakpoint-desktop) {
		min-height: calc(100vh - 182px);
	}
	@media screen and (min-width: $breakpoint-hd) {
		min-height: calc(100vh - 212px);
	}
}
