@import '../../styles/utilities/variables';

.efl-bullhorn {
	border-top: 1px solid $white-shade-1;
	padding: $gutter-small * 4 0;
	@media screen and (min-width: $breakpoint-desktop) {
		padding: $gutter-large * 4 0;
	}

	& &__desc {
		max-width: 280px;
		display: block;
		text-align: center;
		margin: 0 auto $gutter-small * 2;
		@media screen and (min-width: $breakpoint-desktop) {
			max-width: 380px;
			font-size: 24px;
			margin-bottom: $gutter-large * 2;
		}
	}
	& &__ctas {
		text-align: center;
		a {
			color: $primary-color;
			margin: 0 5px;
			&:hover {
				text-decoration: underline;
			}
			@media screen and (min-width: $breakpoint-desktop) {
				font-size: 24px;
				margin: 0 10px;
			}
		}
	}
}
