@mixin media($res) {
	@if mobile == $res {
		@media only screen and (min-width: $breakpoint-mobile) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: $breakpoint-tablet) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: $breakpoint-desktop) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: $breakpoint-hd) {
			@content;
		}
	}
}
