$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-weight-bold: bold;
$font-weight-regular: normal;
$primary-color: #e81e61;
$primary-color-subtle-text: #a61646;
$primary-color-dark: #c91554; // darken($primary-color, 8%);
$primary-color-focus: #f9c4d7;
$primary-color-text: #fff;

$text-color: #333333;
$text-color-light: #666666;

$gutter-small: 10px;
$gutter-large: 20px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-hd: 1440px;

$size__site-tablet-content: 688px;
$size__site-desktop-content: 700px;

$bg-blue-light: #516193;
$bg-blue-light-subtle-text: #272f47;
$bg-blue-dark: #1d2235;
$bg-blue-dark-subtle-text: #3f4973;

$nav-bg: $bg-blue-dark;
$nav-submenu-bg: #32384e;
$nav-submenu-bg-hover: #59648e;
$nav-submenu-border: #242837;

$max-content-width: 688px;

$white-shade-1: #f2f2f2;
$white-shade-2: #eee;
$white-shade-3: #e4e4e4;
