@import '../../styles/utilities/variables';

// Cards is a grid
.efl-content-cards {
	margin: 0 0 $gutter-small * 4;
	display: grid;
	grid-gap: $gutter-small * 2;

	@media screen and (min-width: $breakpoint-tablet) {
		grid-template-columns: 1fr 1fr;

		> .efl-content-card {
			&:nth-of-type(5n + 1) {
				grid-column: 1 / span 2;
			}
			&:last-of-type {
				grid-column-end: -1;
			}
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		margin-bottom: $gutter-large * 4;
		grid-gap: $gutter-large * 2;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

// Individual card
.efl-content-card {
	height: 200px;
	background-color: $bg-blue-light;
	border-radius: 6px;
	position: relative;
	transition: box-shadow 300ms ease-out;
	overflow: hidden;

	& &__bgimage,
	& &__gdoverlay {
		background-size: cover;
		background-position: center center;
		background-attachment: scroll;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	& &__bgimage {
		transform: scale(1.05) rotate(1deg);
		transition: transform 300ms ease-out, filter 300ms ease-out;
		will-change: transform, filter;
	}

	& &__gdoverlay {
		background-image: linear-gradient(
			to bottom,
			fade-out($bg-blue-light, 0.5) 0%,
			$bg-blue-light 70%,
			$bg-blue-light 100%
		);
		z-index: 2;
	}

	& &__link {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-content: flex-end;
		z-index: 3;
	}

	& &__header {
		width: 100%;
		margin: 0 0 10px;
	}
	& &__title {
		color: #fff;
		font-size: 26px;
		line-height: 36px;
		font-weight: 700;
		max-height: 36px * 3;
		overflow: hidden;
		max-width: 240px;
	}

	& &__footer {
		display: flex;
		font-size: 16px;
		width: 100%;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		color: $bg-blue-light-subtle-text;
		transition: color 300ms ease-out;
	}

	&:hover {
		.efl-content-card__footer {
			color: #fff;
		}
		.efl-content-card__bgimage {
			transform: scale(1.15) rotate(3deg);
			filter: blur(1px);
		}
	}

	// Super highlight every 1, 6, 11
	&:nth-child(5n + 1) {
		background-color: $primary-color;

		.efl-content-card__gdoverlay {
			background-image: linear-gradient(
				to bottom,
				fade-out($primary-color, 0.5) 0%,
				$primary-color 70%,
				$primary-color 100%
			);
		}

		.efl-content-card__footer {
			color: $primary-color-subtle-text;
		}

		&:hover {
			.efl-content-card__footer {
				color: #fff;
			}
		}
	}
	// Semi highlight every 2, 7, 12
	&:nth-child(5n + 2) {
		background-color: $bg-blue-dark;

		.efl-content-card__gdoverlay {
			background-image: linear-gradient(
				to bottom,
				fade-out($bg-blue-dark, 0.5) 0%,
				$bg-blue-dark 70%,
				$bg-blue-dark 100%
			);
		}

		.efl-content-card__footer {
			color: $bg-blue-dark-subtle-text;
		}

		&:hover {
			.efl-content-card__footer {
				color: #fff;
			}
		}
	}

	// Responsiveness
	@media screen and (min-width: $breakpoint-tablet) {
		height: 220px;
		&:nth-child(5n + 1) {
			.efl-content-card__title {
				max-width: 480px;
			}
		}
	}
	@media screen and (min-width: $breakpoint-desktop) {
		height: 280px;
	}
}
