@import '../../styles/utilities/variables';

.efl-fp-brands {
	padding: 0 $gutter-small * 2;
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;

	& &__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		transition: filter 800ms ease-out, opacity 300ms ease-out;
	}

	& &__item {
		flex: 1 0 auto;
		width: auto;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			display: block;
			width: auto;
			height: 50px;
		}
	}

	& &__ctas {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(0, 20px);
		opacity: 0;
		transition: transform 200ms ease-out, opacity 200ms ease-out;
	}

	&:hover {
		.efl-fp-brands__items {
			filter: blur(5px);
			opacity: 0.5;
		}
		.efl-fp-brands__ctas {
			visibility: visible;
			opacity: 1;
			transform: translate(0, 0);
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		& &__item {
			height: 70px;
			img {
				height: 70px;
			}
		}
	}
	@media screen and (min-width: $breakpoint-hd) {
		& &__item {
			height: 100px;
			img {
				height: 100px;
			}
		}
	}
}
