@import '../../styles/utilities/variables';

.efl-breadcrumb {
	list-style: none;
	color: $text-color;
	display: inline-block;

	a {
		color: $text-color-light;
		&:hover {
			color: $primary-color;
			text-decoration: underline;
		}
	}

	li {
		display: inline;
		&::after {
			content: '/';
			display: inline;
		}
		&:last-child {
			a {
				color: $text-color;
				&:hover {
					color: $primary-color;
					text-decoration: underline;
				}
			}
			&::after {
				display: none;
			}
		}
	}
}
