@import '../../styles/utilities/variables';

.efl-fp-video {
	position: relative;

	& &__title {
		margin-bottom: 50px;
		@media screen and (min-width: $breakpoint-tablet) {
			margin-bottom: 100px;
		}
	}

	& &__bottom {
		position: absolute;
		bottom: $gutter-small - 2px;
		@media screen and (min-width: $breakpoint-tablet) {
			bottom: $gutter-large - 4px;
		}
		left: 0;
		width: 100%;
		overflow: hidden;
		height: 18vw;

		svg {
			width: auto;
			height: 18vw;
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	& &__backdrop {
		position: relative;
		padding-bottom: 14vw;
		&::before {
			position: absolute;
			content: '';
			display: block;
			bottom: 0;
			top: 68px;
			left: $gutter-small * -2;
			right: $gutter-small * -2;
			@media screen and (min-width: $breakpoint-tablet) {
				left: $gutter-large * -2;
				right: $gutter-large * -2;
			}
			background-image: linear-gradient(
				90deg,
				$bg-blue-light,
				$bg-blue-dark
			);
			z-index: -1;
		}
		@media screen and (min-width: $breakpoint-tablet) {
			// padding-bottom: 100px;
			&::before {
				top: 80px;
			}
		}
		@media screen and (min-width: $breakpoint-desktop) {
			&::before {
				top: 130px;
			}
		}
	}

	& &__screen {
		position: relative;
		margin-bottom: 30px;
		overflow: hidden;
		border-radius: 4px;
		video {
			display: block;
		}
	}

	& &__trigger {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 48px;
		width: 48px;
		background-color: $primary-color;
		color: $primary-color-text;
		font-size: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(-50%, -50%);
	}

	& &__subtitle {
		color: #fff;
		margin-bottom: 30px - 12px;
		strong {
			color: #fff;
		}
	}
}
