@import '../../styles/utilities/variables';

.efl-fp-cards {
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;

	&::before {
		position: absolute;
		top: 80px;
		bottom: -1000px;
		width: 100%;
		left: 0;
		content: '';
		display: block;
		background-image: linear-gradient(90deg, $bg-blue-light, $bg-blue-dark);
		z-index: -1;
		transform: skewY(-5deg);
	}

	& &__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		margin-bottom: 30px;
	}

	& &__item {
		flex: 1 0 auto;
		margin: 10px;
		width: 100%;
		max-width: 450px;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		padding: 20px 20px 20px 0;

		&--hidden {
			display: none;
		}
	}

	& &__svg {
		width: 80px;
		position: relative;
		overflow: hidden;

		svg {
			display: block;
			width: 80px;
			height: auto;
			position: relative;
			left: -10px;
		}
	}

	& &__content {
		width: calc(100% - 100px);
	}

	& &__title {
		text-transform: uppercase;
		font-weight: bolder;
		font-size: 20px;
		margin-bottom: 26px;
		color: $primary-color;
	}

	& &__para {
		font-size: 16px;
		font-weight: lighter;
		color: $text-color;
	}

	@media screen and (min-width: $breakpoint-tablet) {
		padding-bottom: 100px;
		&::before {
			top: 120px;
		}

		& &__items {
			margin-bottom: 80px;
		}

		& &__item {
			margin: 20px 10px;
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		&::before {
			top: 120px;
		}
	}

	&--is-shown {
		padding-bottom: 0;
		.efl-fp-cards__item--hidden {
			display: flex;
		}
		.efl-fp-cards__ctas {
			display: none;
		}
	}

	// Tiltables
	& &__item {
		transform-style: preserve-3d;
		.efl-fp-cards__title,
		.efl-fp-cards__para {
			transform: translateZ(25px);
			transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
			text-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
			will-change: transition, text-shadow;
		}
		.efl-fp-cards__para {
			transform: translateZ(30px);
		}
		&:hover {
			.efl-fp-cards__title,
			.efl-fp-cards__para {
				text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
			}
		}
	}
}
