/* !Block styles */

.entry .entry-content > *,
.entry .entry-summary > * {
	max-width: $size__site-desktop-content;
	margin-left: auto;
	margin-right: auto;

	&.alignwide {
		margin-left: auto;
		margin-right: auto;
		clear: both;
		max-width: 1024px;
	}

	&.alignfull {
		position: relative;
		left: $gutter-small * -2;
		width: calc(100% + #{(4 * $gutter-small)});
		clear: both;
		max-width: none;
		@media screen and (min-width: $breakpoint-tablet) {
			left: $gutter-large * -2;
			width: calc(100% + #{(4 * $gutter-large)});
		}
	}

	&.alignleft {
		/*rtl:ignore*/
		float: left;
		max-width: calc(5 * (100vw / 12));
		margin-top: 0;
		margin-left: 0;
		/*rtl:ignore*/
		margin-right: $gutter-small;

		@include media(tablet) {
			max-width: calc(4 * (100vw / 12));
			/*rtl:ignore*/
			margin-right: calc(2 * #{$gutter-large});
		}
	}

	&.alignright {
		/*rtl:ignore*/
		float: right;
		max-width: calc(5 * (100vw / 12));
		margin-top: 0;
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: $gutter-small;

		@include media(tablet) {
			max-width: calc(4 * (100vw / 12));
			margin-right: 0;
			/*rtl:ignore*/
			margin-left: calc(2 * #{$gutter-large});
		}
	}
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}
}

/*
 * Unset nested content selector styles
 * - Prevents layout styles from cascading too deeply
 * - helps with plugin compatibility
 */
.entry .entry-content,
.entry .entry-summary {
	.entry-content,
	.entry-summary,
	.entry {
		margin: inherit;
		max-width: inherit;
		padding: inherit;

		@include media(tablet) {
			margin: inherit;
			max-width: inherit;
			padding: inherit;
		}
	}
}

.entry .entry-content {
	//! Paragraphs
	p.has-background {
		padding: 20px 30px;
	}

	//! Audio
	.wp-block-audio {
		width: 100%;

		audio {
			width: 100%;
		}

		&.alignleft audio,
		&.alignright audio {
			max-width: (0.33 * $breakpoint-mobile);

			@include media(tablet) {
				max-width: (0.5 * $breakpoint-tablet);
			}

			@include media(wide) {
				max-width: (0.33 * $breakpoint-desktop);
			}
		}
	}

	//! Video
	.wp-block-video {
		video {
			width: 100%;
		}
	}

	.wp-block-embed {
		// Add responsiveness to common aspect ratios.
		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper,
		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
		&.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
			position: relative;

			&::before {
				content: '';
				display: block;
				padding-top: 50%; // Default to 2:1 aspect ratio.
			}

			iframe {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
			padding-top: 42.85%; // 9 / 21 * 100
		}

		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
			padding-top: 50%; // 9 / 18 * 100
		}

		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
			padding-top: 56.25%; // 9 / 16 * 100
		}

		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
			padding-top: 75%; // 3 / 4 * 100
		}

		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
			padding-top: 100%; // 1 / 1 * 100
		}

		&.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before {
			padding-top: 66.66%; // 6 / 9 * 100
		}

		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
			padding-top: 200%; // 2 / 1 * 100
		}
	}
}
