@import '../utilities/variables';

.efl-cta-btn-group {
	display: flex;
	align-items: center;
	margin-left: -12px;
	margin-right: -12px;
	@media screen and (min-width: $breakpoint-desktop) {
		margin-left: -20px;
		margin-right: -20px;
	}
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;

	> .efl-cta-btn {
		flex: 0 0 auto;
	}

	&--align-center {
		justify-content: center;
	}
	&--align-right {
		justify-content: flex-end;
	}
	&--align-justify {
		justify-content: space-around;
	}
}

.efl-cta-btn {
	// Basic type is the outline
	height: 40px;
	width: 220px;
	border-radius: 40px;
	padding: 0 2em;
	margin: 12px;
	@media screen and (min-width: $breakpoint-desktop) {
		margin: 20px;
	}
	text-align: center;
	border: 2px solid $primary-color;
	font-size: 14px;
	color: $primary-color;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	transition: border-color 200ms ease-in, background-color 200ms ease-in,
		color 200ms ease-in;

	// Hover
	&:hover,
	&:active {
		color: $primary-color-dark;
		border-color: $primary-color-dark;
	}

	// Focus
	&:focus {
		box-shadow: 0 0 0 1px $primary-color-focus;
	}

	// Types
	// White
	&--white {
		background-color: #fff;
		border-color: #fff;
		color: #333;
		&:hover,
		&:active {
			background-color: #f2f2f2;
			border-color: #f2f2f2;
			color: #333;
		}
	}

	// Solid
	&--solid {
		background-color: $primary-color;
		border-color: $primary-color;
		color: $primary-color-text;
		&:hover,
		&:active {
			color: $primary-color-text;
			background-color: $primary-color-dark;
			border-color: $primary-color-dark;
		}
	}

	@media screen and (min-width: $breakpoint-tablet) {
		width: 180px;
		height: 44px;
	}

	@media screen and (min-width: $breakpoint-desktop) {
		width: 220px;
		height: 52px;
		font-size: 16px;
	}

	// == Sizes
	// Fluid
	&--fluid {
		width: auto;
		display: inline-flex;
		padding: 0 3rem;
	}
	&--small {
		font-size: 12px;
		height: 30px;
		@media screen and (min-width: $breakpoint-tablet) {
			height: 36px;
		}

		@media screen and (min-width: $breakpoint-desktop) {
			font-size: 14px;
		}
	}
}
