// Item Content of pages and posts

.efl-content {
	max-width: 480px;
	padding: 0 $gutter-small * 2;
	margin: 0 auto;

	@media screen and (min-width: $breakpoint-tablet) {
		max-width: $breakpoint-tablet;
		padding: 0 $gutter-large * 2;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		max-width: $breakpoint-desktop;
	}
	@media screen and (min-width: $breakpoint-hd) {
		max-width: $breakpoint-hd;
	}

	// For Article
	&--article {
		@media screen and (min-width: $breakpoint-desktop) {
			max-width: 700px + ($gutter-large * 4); // So that max width of inner content stays at 700px
		}
	}

	// For Apps
	&--apps,
	// No max-width
	&--nomw {
		max-width: none;

		@media screen and (min-width: $breakpoint-tablet) {
			max-width: none;
		}
		@media screen and (min-width: $breakpoint-desktop) {
			max-width: none;
		}
		@media screen and (min-width: $breakpoint-hd) {
			max-width: none;
		}
	}
}
