.efl-container {
	margin: 0 auto;
	max-width: 440px;

	@media screen and (min-width: $breakpoint-tablet) {
		max-width: 688px;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		max-width: 944px;
	}
}
