.efl-heading {
	font-weight: 200;
	&--regular {
		font-weight: normal;
	}
	font-size: 24px;
	text-align: center;
	color: $text-color-light;
	strong {
		color: $text-color;
	}

	@media screen and (min-width: $breakpoint-tablet) {
		font-size: 32px;
	}

	@media screen and (min-width: $breakpoint-desktop) {
		font-size: 46px;
	}
}
