.efl-section {
	margin-bottom: 50px;
	padding: $gutter-small $gutter-small * 2;
	@media screen and (min-width: $breakpoint-tablet) {
		padding: $gutter-large $gutter-large * 2;
		margin-bottom: 100px;
	}
}
