@font-face {
  font-family: 'eform';
  src:  url('fonts/eform.eot?byuz6v');
  src:  url('fonts/eform.eot?byuz6v#iefix') format('embedded-opentype'),
    url('fonts/eform.ttf?byuz6v') format('truetype'),
    url('fonts/eform.woff?byuz6v') format('woff'),
    url('fonts/eform.svg?byuz6v#eform') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ipt-fsqmic-"], [class*=" ipt-fsqmic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eform' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ipt-fsqmic-eform-horizontal:before {
  content: "\e902";
}
.ipt-fsqmic-eform-bold:before {
  content: "\e903";
}
.ipt-fsqmic-eform-large:before {
  content: "\e900";
}
.ipt-fsqmic-eform:before {
  content: "\e901";
}

