@import '../../styles/utilities/variables';

// Heading
.efl-page-heading {
	margin: $gutter-small * 2 auto $gutter-small * 4;
	@media screen and (min-width: $breakpoint-desktop) {
		margin: $gutter-large * 2 auto $gutter-large * 4;
	}
	text-align: center;
}
.efl-page-title {
	font-size: 28px;
	color: $text-color;
	text-align: center;
	margin: 0 0 $gutter-small * 2;
	font-weight: 900;
	@media screen and (min-width: $breakpoint-desktop) {
		margin: 0 0 $gutter-large * 2;
		font-size: 58px;
	}
}
.efl-page-app {
	.efl-page-heading {
		margin-bottom: $gutter-small * 2;
		@media screen and (min-width: $breakpoint-desktop) {
			margin-bottom: $gutter-large * 2;
		}
	}
	.efl-content {
		max-width: 1440px;
	}

	&--wide {
		.efl-content {
			max-width: 1920px;
		}
	}
}
.efl-page-post-metabox {
	margin: $gutter-small * 2 0 0;
	@media screen and (min-width: $breakpoint-desktop) {
		margin-top: $gutter-large * 2;
	}

	& &__author {
		margin-bottom: 10px;
		text-align: center;
	}
	& &__avatar {
		display: block;
		height: 48px;
		width: 48px;
		border-radius: 100%;
		margin: 0 auto 10px;
	}
	& &__authorlink {
		display: block;
		max-width: 280px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 16px;
		color: $text-color;
		&:hover {
			color: $primary-color;
			text-decoration: underline;
		}
	}
	& &__entrymeta {
		font-size: 14px;
		line-height: 14px;
		margin: 0 auto 20px;
		color: $text-color-light;
		a {
			color: $text-color-light;
			&:hover {
				color: $primary-color;
				text-decoration: underline;
			}
		}
	}
	& &__share {
		font-size: 24px;
	}
	& &__sharebtn {
		display: inline-block;
		transition: color 200ms ease-out;
		color: $text-color-light;
		&:hover {
			color: $primary-color;
		}
	}
}

// Navigation
.efl-page-nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: $gutter-small * 4;
	@media screen and (min-width: $breakpoint-desktop) {
		margin-bottom: $gutter-large * 4;
	}

	&__prev,
	&__next {
		width: 100px;
		height: 32px;
		margin: 0 $gutter-small;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: 1px solid $white-shade-3;
		border-radius: 32px;
		font-size: 14px;
		color: $text-color-light;
		transition: color 200ms ease-out, background-color 200ms ease-out,
			border-color 200ms ease-out;
		&:hover {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $primary-color-text;
		}
		&:active,
		&:focus {
			box-shadow: 0 0 0 1px $primary-color-focus;
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		&__prev,
		&__next {
			width: 200px;
			height: 48px;
			font-size: 16px;
			border-radius: 48px;
			margin: 0 $gutter-large;
		}
	}

	&--fluid {
		.efl-page-nav__prev,
		.efl-page-nav__next {
			width: auto;
			padding: 0 1.5em;
			margin: $gutter-small;
			@media screen and (min-width: $breakpoint-desktop) {
				padding: 0 2em;
				margin: $gutter-large;
				width: auto;
			}
		}
	}
}

// Articles
.efl-page-articles {
	margin: 0 auto $gutter-small * 4;
	@media screen and (min-width: $breakpoint-desktop) {
		margin-bottom: $gutter-large * 4;
	}
}
