@import '../../styles/utilities/variables';

.efl-fp-steps {
	padding: 0 $gutter-small * 2;

	& &__title {
		max-width: 440px;
		margin: 0 auto 50px;
	}

	& &__group {
		max-width: 230px;
		margin: 0 auto -10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	& &__step {
		flex: 0 0 200px;
		width: 200px;
		margin: 0 0 60px;
	}

	& &__content {
		position: relative;
	}

	& &__bgsvg {
		position: absolute;
		top: -20px;
		right: -20px;
		left: -15px;
		bottom: -30px;
		z-index: -1;
		filter: blur(5px);
		svg {
			height: 100%;
			width: 100%;
		}
	}

	& &__steptitle {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 22px;
		display: flex;
		align-items: center;
		color: $text-color;
		margin: 0 0 28px 0;
		margin-left: 24px;
	}

	& &__badge {
		height: 20px;
		width: 20px;
		display: inline-flex;
		border-radius: 50%;
		background-color: #808080;
		color: #fff;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		margin: 0 8px 0 0;
	}

	& &__list {
		list-style: none;
		width: 180px;
		margin: 0 auto;
		li {
			position: relative;
			.efl-fp-steps__checkmark {
				color: $primary-color;
				opacity: 0.5;
				position: absolute;
				right: -10px;
				top: 50%;
				transform: translate(0, -50%);
			}
			&:last-child {
				.efl-fp-steps__checkmark {
					opacity: 1;
				}
			}
			a {
				display: flex;
				align-items: center;
				width: 160px;
				height: 34px;
				padding: 0 8px;
				font-size: 14px;
				background-color: #fff;
				border-radius: 2px;
				color: $text-color-light;
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
				margin: 15px 0;
				transition: box-shadow 200ms ease-in;
				&:hover {
					box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
				}
				.efl-svg-icon {
					margin-right: 6px;
				}
			}
		}
	}

	@media screen and (min-width: $breakpoint-tablet) {
		padding: 0 $gutter-large * 2;
		& &__title {
			max-width: none;
			margin-bottom: 55px;
		}
		& &__group {
			max-width: 700px;
			justify-content: space-between;
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		& &__group {
			max-width: 944px;
		}

		& &__step {
			flex-basis: 240px;
			width: 240px;
		}
	}

	// Tiltable
	& &__tiltable {
		transform-style: preserve-3d;
		&:hover {
			li {
				.efl-fp-steps__checkmark {
					transform: translate3d(0, -50%, 20px);
				}
				a {
					transform: translateZ(10px);
					transition: transform 200ms ease-out,
						box-shadow 200ms ease-out;
					will-change: transform, box-shadow;
					&:hover {
						transform: scale(1.02, 1.02) translateZ(40px) !important;
					}
				}
				&:nth-child(2) {
					.efl-fp-steps__checkmark {
						transform: translate3d(0, -50%, 25px);
					}
					a {
						transform: translateZ(15px);
					}
				}
				&:nth-child(3) {
					.efl-fp-steps__checkmark {
						transform: translate3d(0, -50%, 30px);
					}
					a {
						transform: translateZ(20px);
					}
				}
			}
		}
	}
}
