@import '../../../styles/utilities/variables';

$scale: 3;
$squareSize: 50px;
$cornerSize: ceil($squareSize / $scale);
$cornerPosition: ceil($cornerSize / $scale);

@keyframes dyinglight {
	15% {
		transform: scale(1.6);
	}
	50% {
		transform: rotate(-89deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

.efl-dl {
	position: relative;
	min-height: 100px;

	& &__wrap {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
	}

	& &__square {
		display: block;
		width: $squareSize;
		height: $squareSize;
		background: $primary-color;
	}

	& &__container {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		transform-origin: 50% 50% 0;
		animation: dyinglight 1s ease infinite;
		backface-visibility: hidden;
	}

	& &__corner {
		&::before,
		&::after {
			position: absolute;
			width: $cornerSize;
			height: $cornerSize;
			color: $primary-color-dark;
			content: '';
		}

		&.efl-dl__corner--top {
			&::before {
				border-left: 1px solid;
				border-top: 1px solid;
				top: -$cornerPosition;
				left: -$cornerPosition;
			}
			&::after {
				border-right: 1px solid;
				border-top: 1px solid;
				top: -$cornerPosition;
				right: -$cornerPosition;
			}
		}

		&.efl-dl__corner--bottom {
			&::before {
				border-left: 1px solid;
				border-bottom: 1px solid;
				bottom: -$cornerPosition;
				left: -$cornerPosition;
			}
			&::after {
				border-right: 1px solid;
				border-bottom: 1px solid;
				bottom: -$cornerPosition;
				right: -$cornerPosition;
			}
		}
	}
}
