@import '../../styles/utilities/variables';

#colophon {
	background: darken($bg-blue-dark, 5);
	background-image: linear-gradient(
		to right,
		$bg-blue-dark 0%,
		darken($bg-blue-dark, 10) 100%
	);
	color: #fff;
	a {
		color: #fff;
		&:hover {
			color: $primary-color;
			text-decoration: underline;
		}
	}
	padding: $gutter-small 0;
	@media screen and (min-width: $breakpoint-tablet) {
		padding: $gutter-large 0;
	}
}
// Footer Navigation
#footer-nav {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
#footer-nav-menu {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
	margin: 0 -6px;

	li {
		flex: 0 0 auto;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			padding: 0 6px;
			font-size: 16px;
			font-weight: bold;
			display: block;
			width: 100%;
			height: 32px;
			line-height: 31px; // 1px less because of top border
		}
	}
}

// Footer sections
#footer-sections {
	margin-bottom: 0;
}
.efl-footer-sections {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	> aside {
		flex: 1 0 100%;
	}

	& &__upper {
		padding: (17px - $gutter-small) 0;
		.efl-social-menu {
			a {
				transition: color 200ms ease-out;
				color: $text-color-light;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	& &__lower {
		padding-bottom: $gutter-small * 2;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media screen and (min-width: $breakpoint-tablet) {
		> aside {
			flex-basis: auto;
		}
		& &__upper {
			width: 210px;
			order: 1;
		}
		& &__lower {
			width: calc(100% - 210px);
			padding-bottom: 0;
		}
	}
}

#footer-bottom-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -10px;
	margin-right: -10px;
	flex-flow: row wrap;
	li {
		flex: 0 0 auto;
		margin: 0 10px 5px;
	}

	@media screen and (min-width: $breakpoint-tablet) {
		justify-content: flex-start;
	}
}
.site-info {
	text-align: center;
	@media screen and (min-width: $breakpoint-tablet) {
		text-align: left;
	}
}
