@import '../../styles/utilities/variables';

.efl-fp-testimonial {
	background-image: linear-gradient(90deg, $bg-blue-light, $bg-blue-dark);
	color: #fff;

	& &__title {
		color: #fff;
		margin: 0 0 10px 0;
	}
	strong {
		font-weight: bold;
		color: inherit;
	}

	// Main testimonial
	& &__content {
		max-width: 250px;
		@media screen and (min-width: 480px) {
			max-width: calc(100vw - 100px);
		}
		margin: 0 auto;
		position: relative;
	}

	& &__nav-left,
	& &__nav-right {
		position: absolute;
		font-size: 20px;
		top: calc(50% - 23px);
		transform: translate(0, -50%);
		left: -32px;
		color: #fff;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
	& &__nav-right {
		left: auto;
		right: -32px;
		transform: translate(0, -50%) rotate(180deg);
	}

	& &__siema--activated {
		> div {
			display: flex;
			align-items: center;
		}
	}

	// Testimonial Item
	& &__item {
		padding: 0 40px 20px;
	}
	& &__stars {
		text-align: center;
	}
	& &__author {
		text-align: center;
		margin-bottom: 20px;
	}
	& &__authname {
		text-transform: uppercase;
	}
	& &__para {
		position: relative;
	}
	& &__blockquote {
		font-size: 16px;
		text-align: center;
	}
	& &__cite {
		display: block;
		text-align: center;
		margin: 10px 0 0 0;
		&::before {
			content: '– ';
		}
	}

	& &__quote {
		&-left,
		&-right {
			position: absolute;
			font-size: 30px;
			opacity: 0.1;
		}
		&-left {
			left: -40px;
			top: -20px;
		}
		&-right {
			right: -40px;
			bottom: -20px;
			transform: rotate(180deg);
		}
	}

	& &__pager {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& &__page {
		height: 12px;
		width: 12px;
		border-radius: 12px;
		background-color: #fff;
		margin: 0 6px;
		&:hover,
		&.efl-fp-testimonial__page--active {
			background-color: $primary-color;
		}
	}

	@media screen and (min-width: $breakpoint-tablet) {
		& &__blockquote {
			font-size: 20px;
			text-align: center;
		}

		& &__content {
			max-width: 640px;
		}

		& &__nav-left,
		& &__nav-right {
			font-size: 35px;
			top: calc(50% - 29px);
		}

		& &__nav-left {
			left: -50px;
		}
		& &__nav-right {
			right: -50px;
		}

		& &__item {
			padding: 30px 70px 60px;
			position: relative;
		}

		& &__author {
			position: absolute;
			right: 0;
			top: 8px;
			margin: 0;
		}

		& &__para {
			padding-top: 20px;
		}

		& &__quote {
			&-left,
			&-right {
				font-size: 60px;
			}
			&-left {
				left: -70px;
				top: -70px;
			}
			&-right {
				right: -70px;
				bottom: -70px;
			}
		}
	}

	@media screen and (min-width: $breakpoint-desktop) {
		& &__content {
			max-width: 800px;
		}

		& &__nav-left,
		& &__nav-right {
			font-size: 60px;
			top: calc(50% - 40px);
		}

		& &__nav-left {
			left: -80px;
		}
		& &__nav-right {
			right: -80px;
		}

		& &__item {
			padding: 30px 80px 60px;
			position: relative;
		}
	}
}
