@import '../../styles/utilities/variables';
@import '../../styles/elements/buttons';

.efl-feature {
	& div.efl-feature__image {
		position: relative;
		&::after {
			position: absolute;
			border-radius: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			content: '';
			display: block;
			background-color: rgba(238, 238, 238, 0.8);
		}

		button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 100;
		}
	}
	& div.efl-feature__ctaeditor {
		flex-basis: 100%;
		display: flex;
		flex-flow: row wrap;
		max-width: calc(100% + 40px);
		.editor-rich-text,
		form {
			flex: 0 0 100%;
		}
		@media screen and (min-width: 768px) {
			max-width: 280px;
		}
		form {
			max-width: 220px;
			margin: 0 20px;
			position: relative;

			input[type='text'] {
				border: 1px solid fade-out($primary-color, 0.7);
				width: 220px;
				padding-left: 32px;
				padding-right: 24px;
				border-radius: 40px;
				&::placeholder {
					color: fade-out($primary-color, 0.5);
				}
				&:focus {
					box-shadow: 0 0 0 1px fade-out($primary-color, 0.9);
				}
			}

			svg {
				position: absolute;
				left: 0;
				z-index: 100;
				color: fade-out($primary-color, 0.7);
			}

			.components-spinner {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
