// Import our own stuff
@import '../../styles/utilities/variables';

/** Variables */
$general-line-height: 1.5;
$heading-line-height: 1.33333333333;

.efl-feature {
	// == A bit of common typography
	color: #333333;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 900; // black
	}
	font-weight: 400;
	// == Container style
	width: 100%;
	// Should not handle left/right padding
	// it should be managed by the wrapper
	padding: 0 0 30px;
	font-family: $font-family;
	line-height: $general-line-height;
	font-size: 16px;

	// == Title
	& h2.efl-feature__title {
		max-width: 300px;
		line-height: $heading-line-height;
		font-size: 36px;
		text-align: center;
		width: 100%;
		margin: 0 auto 30px;
		display: block;
	}

	// == Description content
	& div.efl-feature__content {
		max-width: 240px;
		font-size: 16px;
		margin: 0 auto 30px;
		line-height: $general-line-height;
		text-align: center;
		font-weight: 200;
	}

	// == Image container
	& div.efl-feature__image {
		margin: 0 0 30px;
	}
	// image
	& img.efl-feature__img {
		width: 100%;
		border-radius: 4px;
		display: block;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
	}

	// == Sub content container
	& div.efl-feature__subcontents {
		max-width: 330px;
		margin: 0 auto 10px;
		display: flex;
		flex-flow: row wrap;
	}
	// sub content
	& div.efl-feature__sub {
		margin: 0 0 20px;
		flex: 0 0 100%;
	}
	// sub content title
	& h3.efl-feature__sub-title {
		line-height: $heading-line-height;
		text-align: center;
		margin: 0 auto 20px;
		font-size: 24px;
		word-break: keep-all;
		hyphens: auto;
	}
	// sub content para
	& p.efl-feature__sub-para {
		text-align: center;
		line-height: $general-line-height;
	}

	// == CTA Wrapper
	& div.efl-feature__ctas {
		max-width: 244px;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		margin: 0 auto;
	}

	// Tablet view
	@media screen and (min-width: $breakpoint-tablet) {
		padding-bottom: 100px;
		font-size: 20px;
		// Title
		& h2.efl-feature__title {
			max-width: 500px;
			font-size: 60px;
			margin-bottom: 40px;

			// Different sizes
			&--l {
				max-width: 688px;
			}
			&--m {
				max-width: 650px;
			}
			&--s {
				max-width: 600px;
			}
		}

		// == Description content
		& div.efl-feature__content {
			max-width: 590px;
			margin-bottom: 100px;
			font-size: 30px;
		}
		// == Image container
		& div.efl-feature__image {
			margin-bottom: 100px;
		}

		// == Sub content container
		& div.efl-feature__subcontents {
			max-width: 590px;
			margin-bottom: 100px;
		}
		& div.efl-feature__sub {
			flex-basis: 33.33333333%;
			width: 33.333333333%;
			padding: 0 10px;
		}
		// == CTA Wrapper
		& div.efl-feature__ctas {
			max-width: none;
			justify-content: center;
			align-items: center;
		}
	}

	// Desktop View (SD)
	@media screen and (min-width: $breakpoint-desktop) {
		// Title
		& h2.efl-feature__title {
			font-size: 80px;
			max-width: 800px;

			// Different sizes
			&--l {
				max-width: 940px;
			}
			&--m {
				max-width: 900px;
			}
			&--s {
				max-width: 800px;
			}
			&--xs {
				max-width: 800px;
			}
		}
		// == Description content
		& div.efl-feature__content {
			max-width: 800px;
			font-size: 40px;
		}

		// == Sub content container
		& div.efl-feature__subcontents {
			max-width: 944px;
		}

		// sub content title
		& h3.efl-feature__sub-title {
			font-size: 30px;
			margin-bottom: 40px;
		}
	}
}
