@import '../../styles/utilities/variables';

// Get hamburger
$hamburger-layer-color: #fff;
$hamburger-types: (3dxy);
$hamburger-padding-x: 15px;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 5px !default;
@import '~hamburgers/_sass/hamburgers/hamburgers';

.efl-site-header {
	margin: 0;
	height: 50px;
	position: fixed;
	z-index: 99998;
	top: 0;
	width: 100%;
	background-color: $nav-bg;
	color: #fff;
	& &__container {
		padding: 0 $gutter-small * 2;
		max-width: $breakpoint-mobile;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		height: 100%;
		padding: 0 $gutter-small * 2;

		@media screen and (min-width: $breakpoint-tablet) {
			max-width: $breakpoint-tablet;
			padding: 0 $gutter-large * 2;
		}
		@media screen and (min-width: $breakpoint-desktop) {
			max-width: $breakpoint-desktop;
		}
		@media screen and (min-width: $breakpoint-hd) {
			max-width: $breakpoint-hd;
		}
	}

	// Logo
	& &__logo {
		margin-right: 20px;
		> * {
			display: flex;
			align-items: center;
			height: 100%;
		}
		img {
			max-height: 29px;
			width: auto;
			display: block;
		}
	}

	// Main navigation
	& &__main-nav {
		// For upto tablet view
		.menu {
			text-transform: uppercase;
			a {
				color: #fff;
				display: block;
			}
		}

		// Styling for hamburger till desktop
		@media screen and (max-width: $breakpoint-desktop - 1px) {
			.menu-primary-container {
				padding: 32px 0;
				.menu {
					list-style: none;
					li {
						a {
							font-size: 22px;
							font-weight: bold;
							padding: 1px 18px 1px 28px;
							text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
							transition: background-color 200ms ease-out;
							&:hover {
								background-color: $primary-color-dark;
							}
						}
						ul {
							padding: 0;
							margin-top: -2px;
							a {
								padding-left: 48px;
								font-size: 16px;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}

	// CTA
	& &__cta {
		height: 30px;
		width: 133px;
		font-size: 12px;
		color: #fff;
		margin: 0 24px 0 auto;
		white-space: nowrap;
	}

	// Hamburger
	& &__hamburger {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 101;
		&:focus {
			outline: none;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
		}
	}

	// Styling for desktop+
	@media screen and (min-width: $breakpoint-desktop) {
		height: 80px;

		// Logo
		& &__logo {
			img {
				min-height: 36px;
			}
		}

		// Main Nav
		& &__main-nav {
			display: flex;
			flex-flow: row nowrap;
			height: 100%;
			margin-left: auto;

			.efl-site-header__navoverflow {
				display: none;
			}

			.menu-primary-container {
				margin-left: auto;
				.menu {
					list-style: none;
					display: flex;
					height: 100%;
					flex-flow: row nowrap;
					align-items: center;

					> li {
						display: flex;
						align-items: center;
						position: relative;
						height: 100%;
						a {
							font-size: 18px;
							font-weight: bold;
							padding: 0 15px;
						}

						&::after {
							display: block;
							height: 2px;
							position: absolute;
							bottom: 20px;
							left: 50%;
							right: 50%;
							transition: left 100ms ease-out,
								right 100ms ease-out, opacity 300ms ease-out;
							background-color: $primary-color;
							content: '';
							opacity: 0;
						}

						&.current-menu-item,
						&:hover {
							&::after {
								left: 15px;
								right: 15px;
								opacity: 1;
							}
						}

						&.menu-item-has-children {
							> a {
								&::after {
									width: 1em;
									height: 1em;
									display: inline-block;
									content: '';
									background: transparent
										url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#fff" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" class=""></path></svg>')
										no-repeat scroll center center;
									margin-left: 2px;
									vertical-align: middle;
								}
							}
						}

						ul.sub-menu {
							position: absolute;
							width: 240px;
							top: 80px;
							left: -50px;
							visibility: hidden;
							opacity: 0;
							transition: left 200ms ease-out,
								opacity 200ms ease-out;
							background: $nav-submenu-bg;
							border-radius: 0 0 8px 8px;
							box-shadow: 0 0 0 1px $nav-submenu-border;

							li {
								background-color: $nav-submenu-bg;
								transition: background-color 200ms ease-out;
								&:hover {
									background-color: $nav-submenu-bg-hover;
								}
								a {
									display: block;
									width: 100%;
									font-size: 16px;
									padding: 16px 36px;
									border-bottom: 1px solid $nav-submenu-border;
								}
								&:last-child {
									a {
										border-bottom: 0 none;
										padding-bottom: 17px;
									}
									border-radius: 0 0 8px 8px;
								}
							}
						}

						&:hover {
							ul.sub-menu {
								left: 0;
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}

		// Ham burger
		& &__hamburger {
			display: none;
		}

		// Cta
		& &__cta {
			margin-left: 20px;
			font-size: 18px;
			height: 46px;
			width: 188px;
			font-weight: bold;
		}
	}
}

// Show nav bar, from body
body {
	padding-top: 50px;
	@media screen and (min-width: $breakpoint-desktop) {
		padding-top: 80px;
	}
	@media screen and (max-width: $breakpoint-desktop - 1px) {
		.efl-site-header {
			.efl-site-header__main-nav {
				position: fixed;
				display: block;

				width: 240px;
				top: 0;
				right: -240px;

				opacity: 0;
				transition: all 200ms ease-out;
				z-index: 100;
				background: $primary-color;
				height: 100vh;
				overflow-y: auto;
			}
		}

		// When we want to show it
		&.efl-nav-active {
			overflow: hidden;
			height: 100vh;
			.efl-site-header {
				.efl-site-header__main-nav {
					right: 0;
					opacity: 1;
					.efl-site-header__navoverflow {
						content: '';
						display: block;
						position: fixed;
						height: 100vh;
						width: auto;
						left: 0;
						z-index: 99;
						background-color: rgba(255, 255, 255, 0.8);
						animation: efl-menu-overlay-appear 200ms ease-out
							forwards;
					}
				}
				.efl-site-header__hamburger {
					position: absolute;
					right: $gutter-small * 1;
				}
			}
		}

		// When admin bar is present
		&.admin-bar {
			@media screen and (min-width: 601px) {
				.efl-site-header {
					.efl-site-header__main-nav {
						top: 46px;
						height: calc(100vh - 46px);
					}
				}
			}
			@media screen and (min-width: 783px) {
				.efl-site-header {
					.efl-site-header__main-nav {
						top: 32px;
						height: calc(100vh - 32px);
					}
				}
			}
		}
	}
}

// Adjustment for admin-bar
body.admin-bar {
	@media screen and (max-width: 601px) {
		padding-top: 0;
	}
	.efl-site-header {
		@media screen and (min-width: 601px) {
			top: 46px;
		}
		@media screen and (min-width: 783px) {
			top: 32px;
		}
	}
}

// Adjustment for standalone forms
body.ipt_uif_common {
	padding-top: 0 !important;
}

@keyframes efl-menu-overlay-appear {
	from {
		opacity: 0;
		right: 0;
	}
	to {
		opacity: 1;
		right: 240px;
	}
}
